@model IEnumerable<SHOPDienThoai.Models.DienThoai>

@{
    ViewData["Title"] = "Index";

}
<h1>Đặt Đơn Hàng</h1>

<p>
    <a asp-action="Create">Tạo Đơn Hàng Mới</a>
</p>
<div style="background-color: #e18607; width: 100%; height: auto;">
    <table class="table">
        <thead>
            <tr style="background-color: #00ff92;">
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

